
*.tlog
*.exe
*.obj
*.iobj
*.ipdb
*.log
*.pdb
*.db
*.ipch
EdgeDetection/.vs/EdgeDetection/v16/.suo
*.idb
*.dll
InstallTest/.vs/InstallTest/v16/.suo
OepnCVwithMFC/.vs/OepnCVwithMFC/v16/.suo
*.opendb
*.zip
*.aps
*.ilk
*.pch
*.res
*.txt
